@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
* {
    font-family: "Geist", sans-serif;
}
.container {
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 100%;
}

.bg-primary {
    background-color: #171717;
}